{# HTMX response wrapper: results block + main-topic tree, so the swap         #}
{# updates the main-topic tree even though it lives outside                    #}
{# #topic-cloud-results.                                                       #}
{% include "froide_evidencecollection/_topic_cloud_count.html" %}
{% include "froide_evidencecollection/_topic_cloud_results.html" %}
{% include "froide_evidencecollection/_topic_chapters.html" %}
{% include "froide_evidencecollection/_topic_actors.html" %}
