{# HTMX response wrapper: results block + keyword group bar + keyword facets,  #}
{# so the swap updates the group bar and the narrowed facet cloud even though  #}
{# they live outside #topic-cloud-results.                                     #}
{% include "froide_evidencecollection/_topic_cloud_results.html" %}
{% include "froide_evidencecollection/_topic_groups.html" %}
{% include "froide_evidencecollection/_topic_chapters.html" %}
{% include "froide_evidencecollection/_topic_facets.html" %}
{% include "froide_evidencecollection/_topic_actors.html" %}
