{% extends "cms/page_breadcrumb.html" %}
{% load cms_tags %}
{% load djangocms_alias_tags %}
{% load breadcrumb_helper %}
{% block navbar %}
    {% get_breadcrumbs view as view_breadcrumbs %}
    {% if view_breadcrumbs %}
        {% include "header.html" %}
        {% include "snippets/breadcrumbs.html" %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock navbar %}
{% block body %}
    {% static_alias "evidencecollection_header" %}
    {% block app_body %}
        {% placeholder "content" %}
    {% endblock app_body %}
    {% static_alias "evidencecollection_footer" %}
{% endblock body %}
