{% extends "froide_evidencecollection/base.html" %}
{% load i18n %}
{% load markup %}
{% block app_body %}
    <div class="container mb-3">
        <div class="box-card border-yellow md:shadow-yellow bg-body mb-5">
            <div>
                <div class="flex-grow-1 tight-margin p-3 p-md-4 p-lg-5">
                    <h1>{% blocktrans with pk=object.pk title=object.title %}Evidence #{{ pk }}: {{ title }}{% endblocktrans %}</h1>
                    <div class="row">
                        <div class="col col-12 col-md-4">
                            <dl>
                                <dt>{% trans "Date" %}</dt>
                                <dd>
                                    {{ object.date }}
                                </dd>
                                <dt>{% trans "Source" %}</dt>
                                <dd>
                                    <a href="{{ object.source }}" target="_blank">{{ object.source.domain }}</a>
                                </dd>
                                <dt>{% trans "Evidence Type" %}</dt>
                                <dd>
                                    {{ object.type }}
                                </dd>
                                <dt>{% trans "Evidence Area" %}</dt>
                                <dd>
                                    {{ object.area }}
                                </dd>
                                <dt>{% trans "Person" %}</dt>
                                <dd>
                                    {{ object.person }}
                                </dd>
                                <dt>{% trans "Evidence Quality" %}</dt>
                                <dd>
                                    {{ object.quality }}
                                </dd>
                            </dl>
                        </div>
                        <div class="col col-12 col-md-8">{{ object.description|markdown }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock app_body %}
